{%extends 'fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/wel.css' %}">
{% endblock %}
<link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
{% block content %}
</style>
<div class="centered">
      <div class="container all">
      {{block.super}}
      <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="card-image">
            {% if image in images %}
      <img src="{{image.img.url}}" class="thumbnail"alt="Image" style="height: 200px;width: 200px;">
      <span class="card-title" style="text-align: center;color: black;">{{object.title}}</span>
          </div>
          {%endif%}
          <div class="card-content">
            <p style="text-align: center;color: black;">{{object.caption}}</p>
            <small class="text-muted">{{object.date_posted|date:"F d, Y" }}</small>
          </div>
        </div>
      </div>
      {% if object.user == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'image-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'image-delete' object.id %}">Delete</a>
      </div>
      {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      </div>
      </article>
      <div class="row"> 
      <div class="col-md-2">
      <div class="stat d-inline-flex">

      <button type="button" class="{{ status}} stat" id="like"> <a href="{% url 'image-likes' image.id %}"><i
                  class="fa fa-heart-o  d-inline-flex icons" aria-hidden="true"><br>{{image.likes.count}}
                  likes</i><i class="far fa-heart"></i> </a></button>

    </div>
    </div>
    <div class="col-md-2">
      <div class="stat ">
              <button type="button" class="{{ status}} stat" id="like"> <a href="{% url 'comment-create' image.id %}">
              <i class="fa fa-comment-o  d-inline-flex icons" aria-hidden="true"><br>
                  comment</i> </a></button>
        </div>
    </div>
</div>
{% endblock %}
