{%extends 'fold/base.html'%}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load static%}
{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap" rel="stylesheet"> 
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Instagram Login</title>
    <script type='text/javascript' src='index.js'></script>
  </head>
  <body class="the-body">
    <span id="react-root">
      <section class="ig-section-1">
        <main class="the-main">
           <div class="the-outer-1">
             <article class="the-outer-2">
               <div class="the-center-strip-container">
                 <div class="login-elements">
                   <h1>
                     <img class="ig-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/800px-Instagram_logo.svg.png">
                   </h1>
                   <div class='login-forms-container'>
                    <form method="POST" style="text-align: center;display: inline-block;">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Welcome</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Sign Up</button>
                        </div>
                    </form>
                   </div>
                 </div>
                 <div class="sign-up">
                   <p class='sign-up-p'>
                    Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                   </p>
                 </div>
                 <div class="get-the-app">
                   <p class='get-the-app-p'>
                   Get the app.
                   </p>
                   <div class="android-google-container">
                     <a class="app-img" href="#applestore">
                       <img class="app-img-1" src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Download_on_the_App_Store_Badge.svg">
                     </a>
                   </div>
                 </div>
               </div>
             </article>
           </div>
        </main> 
{% endblock %}
