{%extends 'fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/travel.css' %}">
{% endblock %}
{% block content %}
</style>

<div class="container all">
{{block.super}}
{% for image in images %}
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card">
      <div class="card-image">
        {% if image in images %}
  <img src="{{image.img.url}}" class="thumbnail"alt="Image" style="height: 200px;width: 200px;">
<span class="card-title" style="text-align: center;color: black;">{{image.title}}</span>
      </div>
      {%endif%}
      <div class="card-content">
        <p style="text-align: center;color: black;">{{image.caption}}</p>
        <small class="text-muted">{{ image.date_posted|date:"F d, Y" }}</small>
      </div>
    </div>
  </div>
</div>   
   
{% endfor %}
</div>
{% endblock %}



