<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="h-10" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/150px-Instagram_logo.svg.png" alt="instagram" style=" margin-left: -77px;">
        <a class="navbar-brand" href="#"></a>
      </div>
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="search by Username" name="search_user">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i
                            class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>


    </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="nav-about"> <a href="/profile">Profile</a</li>
          <li id="nav-about"><a href="/gram">Posts</a</li>
          <li id="nav-portfolio"><a href="/logout">Logout</a></li>
          <li><a class='' href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>